[2013-08-16 20:18] kwellman opened #1 "Always get a Invalid project_id response"
I've integrated the library in my app, but whenever it tries to send an error report it fails and logs the following line:

08-16 16:16:17.749: DEBUG/Sentry(14262): SendEvent - 400 Invalid project_id: u'4'

I've copied and pasted the sentry dsn from my sentry settings so I know it's valid.

I'm using sentry 6.0.4.

[2013-10-15 07:26] tekblom opened #2 "Capture Forced Close"
Hi,

Is it possible to capture all Forced Close that occurs in the application?

Thanks for a great plugin.

[2013-10-15 16:44] suda opened #3 "Support for self hosted Sentry"
Base URL to Sentry is hardcoded to "https://app.getsentry.com".
It would be great if it could be set to something else during initiation.

[2013-10-15 17:26] #3 closed, assigned to nobody

[2013-10-15 17:58] suda opened #4 "Exception when capturing exception on background thread"
When a exception is being caught on thread other than main (i.e. AsyncTask), sentry throws its own exception:

[code]

It seems to be an issue with your Protocol library (handler not initiated with Looper.getMainLooper()).

[2014-01-08 12:58] T12E opened #6 "Proguard handling"
Does somebody manage to see de-obfuscated stacktrace on Sentry when the Android app source is obfuscated with Proguard ?

[2014-01-08 14:29] #6 closed, assigned to nobody

[2014-01-10 15:13] rickdenhaan opened #7 "Cache exceptions if the device is offline"
If the device is offline when an exception occurs, the current code will immediately try to push that exception to Sentry. Obviously, that will fail because the device is offline so Sentry is unreachable.

It would be very helpful if the client can cache exceptions and stacktraces locally if submitting the event to Sentry fails (either because the device is offline or another problem occurs -- the

[2014-01-10 15:22] #2 closed, assigned to nobody

[2014-06-02 14:05] pradyumnakumar opened #8 "Catch exception from SyncAdapter"
I'm trying to catch exceptions from Android SyncAdapter but I get an error because Context is not present. Can you please try to look into this issue.

Stack trace

File "android.content.AbstractThreadedSyncAdapter$SyncThread", line 259, in run
File "haygot.togyah.app.backgroundsync.SyncAdapter", line 123, in onPerformSync
File "com.joshdholtz.sentry.Sentry", line 129, in captureException
File "co

[2014-06-03 14:13] #1 closed, assigned to nobody

[2014-06-03 14:49] #4 closed, assigned to nobody

[2014-06-03 14:49] #8 closed, assigned to nobody

[2014-06-04 09:27] ghost opened #10 "Why not open the jar file's source ?"
Thx for your good work.

[2014-07-10 17:43] #7 closed, assigned to nobody

[2014-07-11 11:00] will-emmerson opened #12 "Uncaught exceptions and cached events aren't intercepted by the capture listener"
I'm trying to attach some tags to all exceptions using the CaptureListener but it seems they  are only being attached to messages sent using captureMessage(), is this by design?
By cached events I mean those that couldn't be sent and are then sent later.

[2014-07-11 13:29] joshdholtz opened #13 "Send up saved exceptions every X minutes"

[2014-07-11 14:51] #12 closed, assigned to joshdholtz

[2014-07-14 22:27] joshdholtz opened #16 "Option to manually handle uncaught exception or send exception right away"
Suggest was made to not allow the app to force close and send the Sentry exception right away.

Also maybe attempt to send exception right away.

[2014-11-16 18:34] halldorbjarni opened #20 "Unicode Decode errors"
Some events aren't getting sent from my android app, possibly because there are strings in Icelandic in the app?

`SendEvent - 403 Bad data reconstructing object (UnicodeDecodeError, 'utf8' codec can't decode byte 0xf3 in position 5: invalid continuation `

The Ruby client seems to have had similar [problems](https://github.com/getsentry/raven-ruby/issues/71). I will look into this, just wanted to

[2014-12-06 23:37] #10 closed, assigned to nobody

[2014-12-16 22:04] felipeska opened #22 "Exception init Sentry"
init my sentry client:

[code]

[code]

anyone has a similar problem?

[2015-01-20 01:08] QuadFlask commented on #22
+1
I got same Exception when init sentry.

[2015-01-20 01:19] joshdholtz commented on #22
@QuadFlask I am not able to reproduce @felipeska's issue or the issue you are seeing :confused: Can you give send me example code that you are trying to use?

[2015-01-20 01:26] QuadFlask commented on #22
@joshdholtz I just code like @felipeska did.
In Application which I extends Application class, and init at the onCraete() method.
Could you add code that check file is exist at Sentry class line 586?

[2015-04-09 13:38] igorperciuleac opened #23 "SendEvent - 400 Invalid project_id: u'4'"
Always there is such an error: SendEvent - 400 Invalid project_id: u'4'
If i do with "raven test DNS_URL" everything works.

[2015-04-09 15:19] #23 closed

[2015-04-21 11:05] spidfire opened #24 "Too large request"
There seems to be a limit to how big the requests can be
Is there a way to limit the data ?

[code]

[2015-04-22 09:24] spidfire commented on #22
Same error here
I only use `Sentry.init(this.getApplicationContext(), "https://xxxxxxxxx");
from getsentry

[code]

Same error here

[2015-04-22 09:34] spidfire commented on #24
It only occurs if you have a recursive loop problem (stack overflow)
I've fixed it by adding in `getStackTrace`
a counter plus a break after 50 rows of the stacktrace

[2015-04-22 09:39] spidfire commented on #22
I think it's debug output.

Maybe someone can encapsulate it with a check if the file exists?

[2015-04-23 09:09] maxim-yudin commented on #22
Yeah, you're right. It occurs only first time after installing application at

private ArrayList<SentryEventRequest> readObject(Context context) {
			try {
				FileInputStream fis = context.openFileInput(FILE_NAME);
				...
			} catch (FileNotFoundException e) {
				e.printStackTrace();
			}
			return new ArrayList<SentryEventRequest>();
		}

[2015-04-30 15:45] splitbrain opened #25 "no Message, no Stacktrace logged"
I just started playing with this library (with a selfhosted Sentry). To test it I simply created a NullPointer exception. An event is logged to Sentry correctly, but it is missing crucial information:

![sentry](https://cloud.githubusercontent.com/assets/86426/7416528/5d3c1a34-ef60-11e4-8d62-065ded06080b.png)

As you can see, all I get is the class name and line number where the original error occ

[2015-04-30 22:56] joshdholtz commented on #25
@splitbrain Are you able to get more information if you use getsentry.com?

[2015-04-30 22:57] joshdholtz commented on #24
@spidfire Yikes, I have never personally seen that before. Did you have a PR for the 50 rows? If not, I can work on adding that into the library :grin:

[2015-05-01 07:19] splitbrain commented on #25
I will try on Monday. Meanwhile I got some more info. We had some "real" exception in our app which did got logged with a stacktrace intact. The difference was, that this exception just killed one activity but not the whole app itself, so the error could be sent directly to Sentry. The one I created above killed the whole app and the exception only got sent when restarting the app.

[2015-05-01 07:22] spidfire commented on #24
Not really a pull request but these are the parts:
[code]

[2015-07-23 14:25] luiseduardobrito opened #26 "Publish the library in a Gradle repository"
Working with JAR files is too hard when managing lots of apps at the same time. Is there any plans to add the library to some central Maven repository, such as jCenter or MVN Repository?

Tks!

[2015-10-30 12:10] batraabhishek opened #28 "Support for API 23"
org.apache.http.client.HttpClient and other are classes are depreciated with API 23. How should this be handled? Currently I am using OKHttp to make Sentry work with API 23.

[2015-10-30 17:46] joshdholtz commented on #28
@batraabhishek Thanks for letting me know! My goal was to not bundle this library with any dependencies so I will look into this next week.

[2015-11-26 17:19] Christophe31 commented on #28
For now, in my app which had same problem at compile time, I added a dependency:
'cz.msebera.android:httpclient:4.4.+'
and then, just updated the domains imports…

[2015-12-08 23:10] h0tk3y commented on #26
Vote up for this :+1:.

[2015-12-09 17:04] WesleyWu commented on #26
+1

[2015-12-09 17:20] joshdholtz commented on #26
I will see what I can do :grin: I haven't Androided in a while so I need to get my Android legs back. I am currently out of town for business but I will try to get this done next week.

[2015-12-10 13:43] thebogusman commented on #26
:+1:

[2015-12-17 17:10] luiseduardobrito commented on #26
Great! Some months ago I forked your repo some months ago and put it in my
private Gradle repo. I can help you with that, but I will need probably
some weeks to send you a pull request, as I'm also out of my town.

---
*Luis Eduardo Brito*
Engenharia de Computação
Universidade Estadual de Campinas (Unicamp)

Tel: +55 (19) 983 656 062
Website: http://luiseduardobrito.github.io

<http://gnu.org/>  <

[2015-12-17 17:21] joshdholtz commented on #26
Thanks @luiseduardobrito! I will let you know if I need any help :blush: This week got crazy but I have no plans this weekend so I will take some time Saturday morning to drink some :coffee: and figure out this Gradle stuff :wink:

Sorry again for taking so long everyone!

[2015-12-17 17:27] luiseduardobrito commented on #26
Haha, christmas is coming and every developer on earth is overloaded with
work because of that.

---
*Luis Eduardo Brito*
Engenharia de Computação
Universidade Estadual de Campinas (Unicamp)

Tel: +55 (19) 983 656 062
Website: http://luiseduardobrito.github.io

<http://gnu.org/>  <http://opendefinition.org/>

2015-12-17 15:21 GMT-02:00 Josh Holtz <notifications@github.com>:

[2015-12-17 17:34] joshdholtz commented on #26
Thanks for understanding :innocent: I run a small software consulting company so a lot of things often come up and interrupt me from doing things like this so I'm **ALWAYS** open to PRs... But I will try to get this one done myself since I need to learn this new fancy Android Studio and Gradle nonsense :santa:

[2015-12-17 18:15] luiseduardobrito commented on #26
Same here, small brazilian mobile consulting, 10+ developers, the clients
go crazy this time of the year.

Also, in my fork I changed some stuff to use the latest sentry api version,
I can invite you to the private repo if you want to see, but there's a lot
of stuff that would not belong here, such as exporting logs directly to an
Elasticsearch instance, and using Retrofit
<https://github.com/squa

[2015-12-21 04:36] joshdholtz commented on #26
Hey everyone! I think I got this up and working with Gradle. I don't have it submitted to jcentral yet but there are installation instructions in this PR #29 if you would like to give it a try when you get a chance :blush:

[2015-12-21 04:37] joshdholtz commented on #28
@batraabhishek @Christophe31 This should be solved with PR #29 that I just created. This is my first Gradle project repo thing I have created so if you could let me know if this works for you that would be great :blush:

[2016-01-21 15:58] Dellkan commented on #20
Just stumbled across this issue.

The message is from Sentry, yes, but it complain because you are sending the data in ISO-8859-1, not UTF-8.

https://github.com/joshdholtz/Sentry-Android/blob/master/src/com/joshdholtz/sentry/Sentry.java#L427

should be changed to
[code]

(StringEntity defaults to ISO-8859-1 if not explicitly overwritten)

[2016-01-22 20:13] joshdholtz commented on #20
@Dellkan Thanks! I didn't not know that :innocent: I will work on getting that change put in there :ok_hand:

[2016-01-22 20:51] joshdholtz commented on #28
Should be solved now because PR #29

[2016-01-22 20:51] #28 closed

[2016-01-22 20:52] joshdholtz commented on #26
Should be solved now because PR #29

[2016-01-22 20:52] #26 closed

[2016-01-22 20:52] #13 closed

[2016-01-22 20:52] #16 closed

[2016-01-22 21:03] #20 closed

[2016-01-22 21:08] joshdholtz commented on #25
@splitbrain Going through and cleaning up issues and things :blush: Were you able to figure out why the null pointer wasn't sending up any sort of stack trace? It should be getting sent up with a stacktrace.

And to answer your other questions, the exceptions do get sent up to Sentry when the app starts up again because there is not enough time to execute a successful request when the app is being

[2016-01-23 07:30] splitbrain commented on #25
Sorry, I never investigated any further. I close this assuming it was an error on my end and will reopen should I have more details some day.

[2016-01-23 07:30] #25 closed

[2016-02-26 06:55] ftp27 opened #32 "Send full stack trace"
I added your library to my project and now I receive errors, but there is not enough information. How can I configure library for sending full stack trace?

[2016-02-26 09:02] Christophe31 commented on #32
Personally, with just default init setup, I have stack trace… If you're used to python, indeed, you don't get local vars, but that's still great for debugging.

I personally add some extra info (android version of current device, if error come from my background service or from my ui, the last update date of my app…).

As there are no local vars, the stack trace display is way easier.

By default,

[2016-02-26 13:20] joshdholtz commented on #32
@ftp27 There is not enough information in your description form me to help you out :wink: Can you tell me or copy in what kind of errors you are getting? If you get me that info I would be glad to help you out :blush:

## How to catch errors (taken from top of README)

[code]

[code]

[2016-03-04 21:21] grabbou opened #33 "Add `setRelease` to builder"
Or at least expose getter for `event` so we can add this and more. The key should be "release".

[2016-03-05 15:19] #33 closed

[2016-03-08 06:24] akramShokri commented on #22
I am experiencing the exact same problem in my application (using sentry-android-1.2.2):
`03-08 09:41:55.996 2394-2394/*** W/System.err: java.io.FileNotFoundException: /data/data/***/files/unsent_requests: open failed: ENOENT (No such file or directory)
03-08 09:41:55.998 2394-2394/*** W/System.err:     at libcore.io.IoBridge.open(IoBridge.java:456)
03-08 09:41:55.998 2394-2394/*** W/System.err:

[2016-03-08 06:56] saeedsq commented on #22
+1
I faced the same exception with my own sentry instance.

[2016-03-08 11:01] amiraliakbari commented on #22
+1
Same problem with local Sentry, and not just on the first run.

[2016-03-08 16:08] joshdholtz commented on #22
I do have a local Sentry that I can spin up now so I will take a look this as soon as I can for you guys

[2016-03-09 11:54] amiraliakbari commented on #22
@joshdholtz Thanks a lot.

I can't see how this issue is related to using local sentry instances (and may be unrelated), but the problem seems to be related to calling `Sentry::InternalStorage::readObject` before any call to `Sentry::InternalStorage::writeObject`. I think either this file is not created at all, or is not created in certain conditions.

Currently I am using this code before calling

[2016-03-09 15:11] joshdholtz commented on #22
@amiraliakbari Thanks for the recommend patch! I haven't gotten a chance yet to test it with a local installation of Sentry but I don't see how this is related to a local installation of Sentry either.

What kind of device / OS are you running this on where you are seeing this? Or does it just not matter the device?

[2016-03-10 08:34] amiraliakbari commented on #22
I have seen it on multiple devices/Android versions. Also it seems to be independent of using local Sentry instance. I think resource management in `InternalStorage` class should be improved to solve this issue and possibly other related special cases.

Another recommended patch:

    private ArrayList<SentryEventRequest> readObject(Context context) {
        try {
            FileInputStream fis

[2016-03-10 15:44] ddello32 opened #35 "Application in the manifest and minSdkVersion 15 makes it difficult to import the lib."
By setting the minSdkVersion to 15 in the build.gradle file with no need, you limit the backwards compatibility of the lib. If you remove the unused appCompat dependency you can drop the minSdkVersion to 3.

Also the application tag in the lib's manifest file makes manifest merger harder. There's no need to declare an application tag, it tries to declare the allowBackup and label fields for the im

[2016-03-10 15:49] joshdholtz commented on #35
Thanks @ddello32! I will take a look into dropping back the version and removing the application tag :blush:

[2016-03-10 16:26] joshdholtz commented on #35
Thanks for doing this, @ddello32 :heart:

[2016-03-10 16:26] #35 closed

[2016-03-10 16:27] joshdholtz commented on #32
Closing this issue for now because no response :innocent:

[2016-03-10 16:27] #32 closed

[2016-03-10 16:33] joshdholtz commented on #22
@amiraliakbari Good call on those closes :wink: I have no idea how those got missed :broken_heart:

[2016-03-10 17:21] joshdholtz commented on #22
Alright everyone (who is having this issue), if you could try this release to see if its fixes it, that would be great :blush:

[code]

I still can't reproduce so I hope this works :heart:

[2016-03-10 21:07] Christophe31 opened #39 "[feature] Add Android build version"
As suggested, it would be nice to add android version by default.

https://github.com/joshdholtz/Sentry-Android/pull/34#issuecomment-194209572

I don't know if it should be a tag or what name it should use, but whatever, it's interesting data ;-).

[2016-03-10 22:37] joshdholtz commented on #39
Thanks @Christophe31! I don't know why I didn't include that by default but I know how to handle this :wink:

[2016-03-21 15:26] Slik1002 opened #40 "Add min SDK version to description of library"

[2016-03-21 15:50] joshdholtz commented on #40
@Slik1002 Where exactly would you like this to get added to exactly?

[2016-03-21 15:50] joshdholtz commented on #40
@Slik1002 And also for what reason? :wink:

[2016-04-10 16:26] tlvenn opened #42 "Promote SentryEventCaptureListener as Interface"
Hi,

I don't really understand why SentryEventCaptureListener is an abstract class rather than an interface. It would be more convenient to promote it to an interface.

[2016-04-10 16:28] tlvenn opened #43 "Add addTag / addExtra to the builder API"
Pretty much anything that is needed to keep a fluent API is already done but if I need to add a tag or a meta, it breaks.

The builder should expose 2 methods such as:

addTag(String key, String value)
addMeta(String key, String value)

[2016-04-11 14:35] joshdholtz commented on #43
Thanks for the suggestion! I can work on adding this in.

[2016-04-11 14:37] joshdholtz commented on #42
I honestly don't really understand why it is an abstract class either 😇  Its been years since I've written this so I don't really have an answer for you but I can make that change as it seems reasonable.

[2016-04-11 16:18] tlvenn commented on #42
Great thanks @joshdholtz, happy to provide the PR for this if needed

[2016-04-11 16:19] tlvenn commented on #43
@joshdholtz Happy to provide a PR if you want

[2016-04-19 09:57] VAdaihiep opened #44 "minSdkVersion of library"
I have an issue: When add Sentry-Android to build.gradle, it show error minSDK of Sentry-Android is 15 and minSDK of my module is 14.

As I see in https://github.com/joshdholtz/Sentry-Android/blob/master/sentry-android/build.gradle, the minSdkVersion is 3, i don't know why Android studio show this error. Maybe the cause is when you deploy Sentry-Android, it take minSDKVersion from here https://git

[2016-04-19 13:23] joshdholtz commented on #44
Hey @VAdaihiep! Sorry about the issue. I may have not pushed the latest version to gradle yet. I will take a look at doing that later today for you when I get back to my computer that can actually do that push 😊

[2016-04-20 14:31] Christophe31 commented on #1
I changed my DNS/DSN (redeployed on a new server with sentry 8)
SendEvent - 400 {"error":"Invalid project_id: u'3'"}
while python/raven works on my instance.
 D/Sentry: URI - http://x:y@sentry.my_domain.net/3
 I/System.out: AsyncTask #5 calls detatch()
 D/Sentry: SendEvent - 400 {"error":"Invalid project_id: u'3'"}
 D/Sentry: Adding request - UUID

I used to init with also base domain but currentl

[2016-04-21 14:02] Christophe31 commented on #23
I got the same issue, how did you fixed your problem?

[2016-04-29 14:19] Christophe31 opened #45 "I get SendEvent - 400 {"error":"Invalid project_id: u'3'"}"
note: it is a possible duplicate of  #1
I changed my DNS/DSN (redeployed on a new server with sentry 8.3.2)
while python/raven works on my new instance. SentryAndroid log this issue:

D/Sentry: URI - http://x:y@sentry.my_domain.net/3
I/System.out: AsyncTask #5 calls detatch()
D/Sentry: SendEvent - 400 {"error":"Invalid project_id: u'3'"}
D/Sentry: Adding request - UUID

My init is the common:
Sent

[2016-05-03 15:22] joshdholtz commented on #45
@Christophe31 Can you try doing me a favor? Can you try adding `?verify_ssl=0` to the end of your DSN? So... `http://x:y@sentry.my_domain.net/3?verify_ssl=0`

Not sure if this will work but yolo

[2016-05-03 19:36] Christophe31 commented on #45
Yolo! I tryed but the result was not different… Let's live again!

[2016-05-03 20:09] joshdholtz commented on #45
Dang! I won't have time to look into today or tomorrow but I can try to look into this on Thursday for ya if that's cool? How are you running this self instance? (Will help me debug) 😊

[2016-05-03 20:20] Christophe31 commented on #45
Yes, I specified version in bug report message.
Thank you.

[2016-05-03 20:21] joshdholtz commented on #45
@Christophe31 Ah my bad! Reading is hard 😒

[2016-05-09 09:51] Hunter712 commented on #45
use this Sentry.init(this, "http://your-base-url.com", "YOUR-SENTRY-DSN");
it work for me

[2016-05-09 11:29] Christophe31 commented on #45
Oops, it worked for me until I changed my server domain/sentry version.
it must be related to a sentry's version or domain specificity (I had probelms a while ago with underscore in domains, I don't know what could go wrong here but I transmited infos to josh by PM)

[2016-05-09 12:24] Hunter712 opened #48 "How to use Tags?"
How to use Tags?

[2016-05-09 13:26] Christophe31 commented on #48
Here How I did:

        Sentry.init(ctx,
                    ctx.getString(R.string.sentry_host),
                    ctx.getString(R.string.sentry_dsn));
        Sentry.setCaptureListener(new Sentry.SentryEventCaptureListener() {
            @Override
            public Sentry.SentryEventBuilder beforeCapture(Sentry.SentryEventBuilder builder) {
                try {
                    builder.

[2016-05-09 16:02] joshdholtz commented on #48
Thanks for the reply, @Christophe31 😊  🙌   Closing this because not an issue and because there is also an example in the readme

[2016-05-09 16:02] #48 closed

[2016-05-09 18:21] joshdholtz commented on #45
@Christophe31 For some reason the server seems to be interpreting things as unicode (not utf-8). There was an issue with this a while ago that I got fixed in #31 (and it was because of that). I'm going to try replacing this networking logic with another networking dependency that might be able to do things better/smarter since I'm pretty sure I'm quite possibly using some deprecated stuff right no

[2016-05-09 19:32] joshdholtz commented on #45
@Christophe31 GOT IT! I was a dingus... Parsing for base url wrong 😔

[2016-05-09 19:42] #45 closed

[2016-05-09 19:45] Christophe31 commented on #45
Will you release it soon on bintray? Or I should get it classic way?
Thanx for your help/support.

[2016-05-09 19:46] joshdholtz commented on #45
@Christophe31 Uploading to jcenter thingy right now! I will link you to it when its all up

[2016-05-09 19:49] Christophe31 commented on #45
Awesome, Thanx a lot <3.

[2016-05-09 19:50] joshdholtz commented on #45
@Christophe31 Should be good to go with this - https://bintray.com/joshdholtz/maven/sentry-android/1.4.0

Please let me know if this works or doesn't work for you 😇

[2016-05-09 20:03] Christophe31 commented on #45
Awesome, It works great!

[2016-05-09 20:06] joshdholtz commented on #45
Woooooo!! Thanks for the help with this ✊

[2016-05-09 20:07] joshdholtz commented on #44
This should be solved with latest `1.4.0` push

[2016-05-09 20:07] #44 closed

[2016-05-09 20:08] joshdholtz commented on #40
I believe this was fixed in #36

[2016-05-09 20:08] #40 closed

[2016-05-16 03:14] 11110101 opened #50 "Validate SENTRY-DSN"
Good job doing this wrapper, congrats!

I think you should add a function to validate the structure of the SENTRY-DSN (before init()), because if it is bad formed, "Sentry.init" is throwing and exception but you really don't know the context of that exception.

Kind regards!

[2016-05-20 13:38] francisdb opened #51 "make artifacts available in maven central"
We try to avoid adding non-default repositories. Would you consider syncing your repo with maven central?

https://bintray.com/docs/usermanual/uploads/uploads_syncingartifactswithmavencentral.html

[2016-05-20 14:28] joshdholtz commented on #51
@francisdb Yes yes, I can try and do that 😊  I am currently in the middle of a move to a different city so I will try to get this early next week for ya 👌

[2016-05-26 04:48] dgcooke opened #53 "Can you make the jar file available somewhere?"
Looking for the jar file as we do our own dependancy management

[2016-05-26 12:58] joshdholtz commented on #53
@dgcooke There should be JAR file located here for you 😊  https://bintray.com/joshdholtz/maven/sentry-android/1.4.0/view#files/com/joshdholtz/sentry/sentry-android/1.4.0

I can put a link to this in each release in the future 😉

[2016-05-26 12:58] #53 closed

[2016-06-07 13:54] woostrowski opened #54 "ConcurrentModificationException in Sentry.init()"
java.lang.RuntimeException: Unable to create application com.android.tools.fd.runtime.BootstrapApplication: java.util.ConcurrentModificationException
                                                                           at android.app.ActivityThread.handleBindApplication(ActivityThread.java:4643)
                                                                           at android.app.Activit

[2016-06-07 14:15] joshdholtz commented on #54
@woostrowski Where are you calling `Sentry.init()`? I need a little more information if you want me to try and debug 😉

[2016-06-07 15:39] woostrowski commented on #54
Hi,

I already have a fix for the issue. If you add me as a contributor for few
minutes I could push those changes to separate branch and raise merge
request.

BR
Wojtek

wt., 7.06.2016 o 16:15 użytkownik Josh Holtz <notifications@github.com>
napisał:

--
Pozdrawiam / Best regards
Wojciech Ostrowski

[2016-06-07 15:42] joshdholtz commented on #54
@woostrowski Can you fork the repo and do the pull request? I would gladly take a look at it and merge it in 😊

[2016-06-08 08:23] woostrowski commented on #54
Hi,

I've just pushed the newer version of my fix. I also noticed that you're
not parsing self-hosted server port so I added that part too.
Please check those changes and let me know when new version will be
released.

BR
Wojtek

wt., 7.06.2016 o 17:42 użytkownik Josh Holtz <notifications@github.com>
napisał:

--
Pozdrawiam / Best regards
Wojciech Ostrowski

[2016-06-08 13:31] joshdholtz commented on #54
Fixed in #55

[2016-06-08 13:31] #54 closed

[2016-06-08 18:44] woostrowski commented on #54
Great! Are you planning to release it soon on jcenter?

śr., 8.06.2016 o 15:31 użytkownik Josh Holtz <notifications@github.com>
napisał:

--
Pozdrawiam / Best regards
Wojciech Ostrowski

[2016-06-08 18:51] joshdholtz commented on #54
@woostrowski Yup yup! Will be releasing in about an hour 🕒

[2016-06-08 20:02] joshdholtz commented on #54
@woostrowski Should be up now - https://bintray.com/joshdholtz/maven/sentry-android/1.4.1/view

[2016-06-09 03:59] woostrowski commented on #54
Thanks a lot!

śr., 8.06.2016, 22:02 użytkownik Josh Holtz <notifications@github.com>
napisał:

--
Pozdrawiam / Best regards
Wojciech Ostrowski

[2016-06-20 13:41] ensi-labs opened #57 "Google Developer Warning"
Hello,
I just received an email from google which reads as follows:

This email is for adding sentry in my project. I think that's the type of connection dsn.

Any idea or solution?
Thank you very much

[2016-06-21 13:36] will-emmerson commented on #53
I am also needing this, the jar file is not available at that link. There are javadocs, sources and an aar but not jar.

[2016-06-24 05:07] parindar commented on #57
Hi

I'm having the same issue. Could you please look into this soon and update.

Thanks.

[2016-07-06 16:11] marcomorain opened #59 "Add some Android device details by default to Events"
Hi @joshdholtz,

I'm using code like this to build up a default set of device data to send along with crashes.

[code]

I use a `SentryEventCaptureListener` to add this `Map` to the `SentryEventBuilder` before capture.

I thought you might be able to add something like this to all events by default, or to create a function like

[code]

Data in Sentry:

<img width="270" alt="sentry" src="https://c

[2016-07-06 21:45] ensi-labs commented on #57
Hi,
Is there any possibility of fixing this?

Thanks

[2016-07-06 23:02] cpowell001 commented on #57
I'm also eager to hear an update on this.
Thanks.

[2016-07-22 17:33] awago commented on #57
any updates?

[2016-07-25 02:00] royuen commented on #57
I am also having problem on this. Any possible fix here?

Thanks!

[2016-07-25 12:08] joshdholtz commented on #57
Hello everyone! Sorry about getting to this so late. Working on fixing this right now 👌

[2016-07-25 12:56] joshdholtz commented on #57
I _think_ I fixed it. I uploaded a new APK to Google Play and now just waiting to see if I receive an emails back from them with the similar text that all of you have received. Will keep you updated on if it works and when I release a new version!

[2016-07-25 17:14] joshdholtz commented on #57
Alright everyone, version `1.4.2` is _should_ be out there for you all - https://bintray.com/joshdholtz/maven/sentry-android/1.4.2

I did not merge in my fix yet since I'm not sure if this solves the issue for all of you but I did not receive that error/warning message yet from my APK that I have uploaded.

If you could let me know if this works or doesn't work for you that would be great 😊

[2016-07-26 12:36] cpowell001 commented on #57
@joshdholtz I am confused about your fix. It seems like all you've done is introduce a log function that by default will not print out the logs. Are you saying that just not writing out the logs will fix this issue?(Also, if you ever set `debug` to true, you'll get a stack overflow as the `log` method is calling itself, I commented on the PR)

Google explained to me that this error was due to leak

[2016-07-26 13:42] joshdholtz commented on #57
@cpowell001 I was not sure what the actual solution is/was. Things were getting printed out so that seemed like a good place to start. I submitted an app to Google Play with this fix and I have no received anything from Google yet saying things were getting leaked.

The username and password are not actually getting sent up in that URL (as it can be seen here - https://github.com/joshdholtz/Sentry

[2016-07-26 14:15] cpowell001 commented on #57
@joshdholtz thanks for the feedback. Our next release is scheduled to go out in a week or two, I'll report back then.

[2016-07-26 14:16] joshdholtz commented on #57
@cpowell001 Anytime! ✊

[2016-07-26 21:07] joshdholtz commented on #57
Has anybody been able to verify that `1.4.3` fixes things for them yet? Super interested to see if this fixes things 😇

[2016-07-27 00:34] ensi-labs commented on #57
@joshdholtz today i publish my apk with 1.4.3 version.
I'll report anything

[2016-07-27 00:35] joshdholtz commented on #57
@ensi-labs Awesome! You rock ✊

[2016-07-27 12:47] ensi-labs commented on #57
sorry guys but I get the same error alert

[2016-07-27 13:07] joshdholtz commented on #57
@ensi-labs Can you forward the email to me at me@joshholtz.com? I did not receive one with my application that I published yesterday 😔

[2016-07-27 13:21] ensi-labs commented on #57
google has not sent me an email yet.
I have an alert google play, like last time
![googlewarning](https://cloud.githubusercontent.com/assets/16902606/17176595/b5c32bb2-540d-11e6-82a9-84eac1527345.jpg)
(sorry for picture language)

[2016-07-27 13:26] cpowell001 commented on #57
When I spoke to Google, they described the error as regarding `leaked developer credentials in network requests` and pin-pointed the line of code in our app causing the warning as the hard-coded DSN:
`private static final String DSN = "https://xxxxxxxxxxxxxx:xxxxxxxxxxxx@app.getsentry.com/xxxxx";`

@ensi-labs do you also store the DSN in a variable? @joshdholtz I see the same string in your app bu

[2016-07-27 13:28] joshdholtz commented on #57
@cpowell001 I actually did not store it as a variable in my app. I hardcoded it into the method. (Which might be why I don't have an alert). I will give that a shot and see what happens today.

I do like the idea of setting them separately if that is the issue. This is pretty weird 😊

[2016-07-27 13:37] joshdholtz commented on #57
I published a new version with the DSN as a `private static final` variable. I **hope** I can see this error too. I will still implement another constructor though because yolo 👌

[2016-07-27 17:59] joshdholtz commented on #57
@cpowell001 @ensi-labs I **DID** get a warning this time once I made a `private static final` variable that contains the DSN but **DID NOT** when it was an instance variable for my function or when hardcoded into the method as an argument... So that is fun 😊

[2016-07-27 18:01] joshdholtz commented on #57
Summary: Not an issue with this library "directly" but an issue in the way that most people probably use this library.

Solution 1): Do not make the DSN a `private static final` variable because Google sees that as a vulnerability
Solution 2): I will make another constructor that takes the parts of a DSN or something cause Google is making this weird 😉

[2016-07-27 18:47] cpowell001 commented on #57
@joshdholtz nice to get to the bottom of this, thanks for all your work!

[2016-07-27 22:04] ensi-labs commented on #57
I have always put the dns hardcoded, like that:
Sentry.init(this, "myDSNStringEtcEtc");

I do not understand how does that affect safety. I think google not like the protocol of Sentry.
Thanks for all.

[2016-07-28 06:04] marcomorain commented on #57
Google's safety chances are most likely extracting all the acting constants from the APK and finding any that look like basic auth credentials (http://user:password@service).

Since it's an offline check (rather than running the app and logging HTTP accesses) it's very difficult for them to know if such a string used in a HTTP call or not,

I'd say Josh's suggested fix is best - make a contractor

[2016-07-28 06:08] marcomorain commented on #59
Hi @joshdholtz - and interest in me turning this into a PR or adding it to the README as an example of usage?

[2016-07-28 13:16] joshdholtz commented on #59
@marcomorain A PR would be greatly appreciated if you don't mind 😊

[2016-07-28 22:14] marcomorain commented on #59
@joshdholtz done!

[2016-07-29 10:03] ensi-labs commented on #57
I tried the following combinations

`Sentry.init(this, "myDSNStringEtcEtc");`

private String dsn = "myDSNStringEtcEtc";
`Sentry.init(this, dsn);`

private static final String DSN = "myDSNStringEtcEtc";
`Sentry.init(this, DSN);`

[2016-07-29 12:27] cpowell001 commented on #57
Interesting that @joshdholtz got no warnings when using the first example that @ensi-labs tried.

[2016-08-01 12:09] shgharib opened #62 "Can't capture messages"
Hi, I'm trying to use this library with my own sentry instance. when i try to capture message, it shows me errors and no any message won't be sent to server.

[code]

[code]

[2016-08-02 06:59] #62 closed

[2016-08-02 15:52] marcomorain commented on #59
Hi @joshdholtz - have you had any time to review this?

[2016-08-04 13:01] #59 closed

[2016-08-04 20:15] #57 closed

[2016-08-05 15:31] marcomorain commented on #39
@joshdholtz this was closed via https://github.com/joshdholtz/Sentry-Android/pull/61

[2016-08-05 15:42] Christophe31 commented on #39
indeed, I'll close this issue and thanx for the contrib!

[2016-08-05 15:42] #39 closed

[2016-08-05 16:19] marcomorain opened #65 "Stack frames starting `com.google.android` appear as 'app' stack frames in UI"
As you can see in the screenshot, stack-frames that begin with `com.google.android` are blue, and are therefore treated as application code in the Sentry UI.

<img width="689" alt="google_callstack" src="https://cloud.githubusercontent.com/assets/448001/17442662/9f6f070a-5b2e-11e6-88f7-45d24853edcd.png">

We should filter out the stack-frames that start with `com.google.android`.

PR incoming.

[2016-08-05 16:19] marcomorain commented on #65
Also, :-1: to people using rooted devices with broken software crashing our app.

[2016-08-05 16:35] marcomorain commented on #65
Thinking of something like:

[code]

[2016-08-09 05:50] SwiftyWang opened #67 "how to add tag in unhandler exception."
I have found the tag in capture Exception. But I cannot find this feature in unhandler exception sending. Can I add tags when app crash(unhandler Exception) use your library?

[2016-08-10 08:01] lsuski commented on #57
It is not problem with logging url but with having it in application. Google scans application for occurance of credentials included in url.  For public clients public key instead of secret one should be used. Here https://docs.getsentry.com/hosted/clients/javascript/config/#optional-settings are docs for javascript client. I think that for Android we should use the same strategy.

[2016-08-10 08:20] lsuski commented on #57
I haven't had any warnings from Google for 2 months and received one today so I shouldn't rely on that.

[2016-08-10 09:16] lsuski commented on #57
Accordingly to this https://github.com/getsentry/sentry/blob/464ea1abe937887ad2441e918d8393fbc8a4337c/src/sentry/web/api.py I don't think it is possible to use public key for Android app so probably we should change the way of passing credentails to sentry. Instead of url we should pass them directly.

[2016-08-11 14:22] marcomorain commented on #67
You can register an event capture listener to do this:

https://github.com/joshdholtz/Sentry-Android#set-a-listener-to-intercept-the-sentryeventbuilder-before-each-capture

[code]

[2016-08-15 05:16] SwiftyWang commented on #67
Very helpful!! Thank you very much!!!

[2016-08-30 04:57] zerda opened #68 "builder in UncaughtExceptionHandler should include device contexts too"
It is really neat to include some device contexts when `Sentry.captureMessage` called.

But in `UncaughtExceptionHandler`, the builder should put contexts to event too. It would be very useful to diagnostic the exception.

 Thanks.

[2016-08-30 05:46] zerda opened #69 "Contexts is serialized to wrong json type in API < 19"
At [SentryEventRequest](https://github.com/joshdholtz/Sentry-Android/blob/master/sentry-android/src/main/java/com/joshdholtz/sentry/Sentry.java#L666), we use `new JSONObject(builder.event).toString()` to get the JSON string.

It is worked well in API 19, I have reformatted the result to make itself clear.
[code]
but in API 17, the `contexts` member has been serialized to a String, not a JSONArray.

[2016-09-14 19:12] bgerstle opened #70 "[feature-request] Add support for breadcrumb API"
The relatively-new [breadcrumbs](https://docs.sentry.io/hosted/learn/breadcrumbs/) feature allow developers to specify actions which led up to an error.

[2016-09-15 17:41] bgerstle opened #71 "Automatically set events' release field to package release"
As of 1.4.4, this should be pretty trivial:

[code]

[2016-09-15 17:44] bgerstle opened #72 "Uncaught exceptions don't contain device & os metadata"
### Overview
Uncaught exceptions should have the same metadata as manually-reported exceptions.

### Steps to reproduce
1. Raise an uncaught exception

### Expected results
Event is annotated with OS, device, and app information. For example, here's an exception I sent manually:

![image](https://cloud.githubusercontent.com/assets/444217/18560625/6e3b531e-7b4a-11e6-863c-06becec6c5ea.png)

### Actu

[2016-09-15 17:46] bgerstle commented on #71
Seems to work, I'll see if I can put a PR together

![image](https://cloud.githubusercontent.com/assets/444217/18560695/bf65768e-7b4a-11e6-90e7-4ac928066311.png)

[2016-09-16 14:07] #42 closed

[2016-09-16 14:11] #65 closed

[2016-09-16 14:12] #72 closed

[2016-09-16 14:18] joshdholtz commented on #67
@marcomorain Thanks for answering this for me! 😊 You da 💣

[2016-09-16 14:18] #67 closed

[2016-09-16 14:20] marcomorain commented on #67
💥

[2016-09-16 14:20] joshdholtz commented on #68
This should be fixed with #73 thanks to @marcomorain 😊

[2016-09-16 14:20] #68 closed

[2016-09-16 15:07] #43 closed

[2016-09-16 15:16] marcomorain commented on #69
pr incoming

[2016-09-19 21:14] marcomorain opened #79 "Permissions check in `shouldAttemptPost` looks strange"
In `shouldAttemptPost` We return true if the permission check returns `PERMISSION_DENIED` as far as I can see. Looks strange to me – bug?

[2016-09-20 03:01] zerda commented on #69
I've tested this pr on an API 17 device, it works well. Thank you, @marcomorain

[2016-09-23 10:17] marcomorain commented on #71
@joshdholtz any time to look at this one PR?

[2016-09-23 12:30] jschamburger opened #81 "[Feature Request] Support for Stacktrace"
Hi,
thanks for this awesome library! It works very well and is really easy to set up.
It would be great to add support for capturing stacktraces **without** capturing an exception.
I believe the stacktrace is always important to gain some knowledge about the context of an issue, but attaching an artificial to an event is a possible workaround, but not the best option since every event is then show

[2016-09-23 21:08] #69 closed

[2016-09-23 21:39] #71 closed

[2016-09-23 22:14] marcomorain opened #83 "Improvements from PR 56"
In PR #56 there a lot of great changes that we should make to the client.

- [ ] Allow more than one Sentry instance to exist.
- [x] Use an executor service for sending events to limit resources used .
- [ ] The Apache HTTP client is deprecated. Allow apps to use alternate HTTP clients.
- [ ] Use JSON for internal storage

[2016-09-26 20:12] #81 closed

[2016-09-26 21:49] #70 closed

[2016-09-26 22:11] #79 closed

[2016-09-27 07:26] jschamburger commented on #81
Nice! Thanks for the quick implementation of this feature!

[2016-09-27 07:35] marcomorain commented on #81
You're welcome!

[2016-10-26 13:12] changxiangzhong opened #101 "Discarded invalid parameter 'contexts'"
We are using the 1.5.0 version of sentry-android with a 8.1.2 local sentry instance. I got this error while logging a debug level log. Do you have any idea on what went wrong here?

Discarded invalid parameter 'contexts'
{
  "name": "contexts"
}

[2016-10-26 13:21] joshdholtz commented on #101
@changxiangzhong The `contexts` attribute was added in version `8.6.0` of Sentry - https://github.com/getsentry/sentry/releases/tag/8.6.0. You may need to either use an older version or upgrade your local instance for now.

We _could_ put some sort of special use case in for this in the library but we don't want to get into the habit of supporting things of that nature since it makes maintaining m

[2016-10-26 13:24] changxiangzhong commented on #101
@joshdholtz Thanks for your reply. Do you have a recommended android-sentry version to match sentry 8.1.2?

[2016-10-26 13:28] joshdholtz commented on #101
@changxiangzhong I think `1.4.1` should do it for you! If it doesn't let me know and we can maybe sneak in a fix for contexts just this one time 😇 ... But if `1.4.1` works that would be 👌

[2016-10-26 13:34] changxiangzhong commented on #101
@joshdholtz Works like a magic! Thank you.

[2016-10-26 13:44] joshdholtz commented on #101
@changxiangzhong Great! Let me know if you need anything else ✊

[2016-10-26 13:44] #101 closed

[2016-11-10 08:47] FelixBondarenko opened #104 "Android VersionName or VersionCode?"
Android apps have a versionName string as in "1.2.3", which should be included in an event json sent to sentry.

At the moment, in

    Sentry.captureEvent(SentryEventBuilder builder)

only

    builder.setRelease(Integer.toString(sentry.appInfo.versionCode));

is called, but probably something like

    builder.setRelease(sentry.appInfo.versionName);

were more helpful.

The sentry webinterface s

[2016-11-10 09:11] marcomorain commented on #104
Hi Felix,

We have to choose one or the other (name or code) to use by default. I chose to use the versioncode initially because I wasn't sure if the versionname had to be unique or not between releases.

I'm happy to change it if you'd like to submit a PR?

Ultimately though, we can't keep everyone happy with default settings. The idea is that anyone can add an event capture listener to change an

[2016-11-10 10:02] FelixBondarenko commented on #104
Hi Marco,

you're certainly right, default implementation are there to be customized.

But as the property in question is called 'release' and the android's versionName contains a release version name which _should_ be updated on every release and contains more information (major, minor, patch semantics) than a single integer, versionName is much more recognizable than versionCode for most people.

[2016-11-16 11:24] FelixBondarenko commented on #104
Hi Marco,

[Version Your App](https://developer.android.com/studio/publish/versioning.html) says:

    versionCode — An integer used as an internal version number. This number is used only to determine whether one version is more recent than another, with higher numbers indicating more recent versions. This is not the version number shown to users; that number is set by the versionName setting[...

[2016-11-23 19:23] fab1an opened #108 "Attach User context"
Is there a way to attach user context like described here: https://docs.sentry.io/learn/context/#capturing-the-user

[2016-11-23 19:26] marcomorain commented on #108
Hi Fabian,

You can use a SentryEventCaptureListener as described in the README to add extra info to an event. The user fields should be accessible on the event in the callback.

[2016-11-23 19:27] marcomorain commented on #108
Oops - hit reply and close on my phone by accident.

[2016-11-23 19:29] marcomorain commented on #108
Yup, in the beforeCapture callback you can call .setUser on the event builder to add user context.

[2016-11-24 14:12] marcomorain commented on #108
Did you get this working @fab1an ?

[2016-11-24 14:12] #108 closed

[2016-11-24 21:07] fab1an commented on #108
Didn't have time for testing yet, i'll report back.

[2016-11-24 21:08] marcomorain commented on #108
Thanks @fab1an

[2016-12-14 13:53] fab1an opened #110 "ConcurrentModificationException in Sentry.currentBreadcrumbs"
I'm getting this error now and then:

[code]

`captureFailedRetrofitResponse` looks just like this:

[code]

[2016-12-15 11:31] #104 closed

[2016-12-15 11:35] marcomorain commented on #110
Hi @fab1an - Sorry about the crash. I'll take a look into this today.

[2016-12-16 09:27] fab1an commented on #110
Great thank you. Maybe you can leverage a [`BlockingQueue`](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/BlockingQueue.html) for this.

[2016-12-19 09:08] fab1an commented on #110
Do you need help on this?

[2016-12-19 14:02] fab1an opened #112 "Disable on Debug"
Is there a way to prevent Sentry-Android from anything when `BuildConfig.DEBUG == true`?

[2016-12-20 23:24] marcomorain commented on #110
Yes please @fab1an - can you take a look at the approach in https://github.com/joshdholtz/Sentry-Android/pull/111 please? What do you think?

[2016-12-22 22:54] fab1an commented on #110
@marcomorain I think the `BlockingQueue` was the wrong idea.

It's probably easiest to use a ReadWriteLock: https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/locks/ReentrantReadWriteLock.html

[code]

When reading the list wrap it like this:

[code]

When writing:

[code]

[2017-01-23 17:13] marcomorain commented on #110
Hi @fab1an - I have not had much time to look into this over the holidays.

Can you take a look at PR #111 please? I had not used ReadWriteLocks before, thanks for showing me that pattern.

[2017-01-24 15:52] #110 closed

[2017-02-01 09:03] andrewheckford opened #114 "UncaughtExceptionHandler doesn't add breadcrumbs to SentryEventBuilder"
When Sentry-Android handles a runtime exception with its uncaughtExceptionHandler it doesn't appear to add any accumulated breadcrumbs to the event posted to the Sentry server, whereas manually caught exceptions posted with Sentry.captureException and Sentry.captureEvent do include breadcrumbs.

Is there a reason why the uncaughtExceptionHandler omits breadcrumbs? It would be quite useful for dete

[2017-02-01 09:12] marcomorain commented on #114
Hi Andrew,
Thanks for reporting this. There is no reasson that breadcrumbs are not added. That's an oversight on my part.

I'll gladly accept a patch for this.

Marc

[2017-02-01 09:46] andrewheckford commented on #114
Hi Marc,

Thanks for your quick response. Depending on my work schedules over the next few weeks I'll have a go at adding this. I'm somewhat of a GitHub newbie: I assume I fork your repo, and then submit a Pull Request back to you with my changes?

Many thanks,

Andrew.

[2017-02-01 20:50] #114 closed

[2017-02-01 20:51] marcomorain commented on #114
Hi Andrew, I've a fix for this this evening - @joshdholtz want to kick off another release? 🚀

[2017-02-15 22:27] edenman opened #117 "Ability to send more breadcrumbs?"
I'd really like to use breadcrumbs as a log of what happened leading up to the crash, but 10 breadcrumbs is a pretty narrow window of events.  Any chance this could be customized?  I can put together a PR if that would be helpful.

[2017-02-20 14:20] marcomorain commented on #117
Hi @edenman sorry I'm only seeing this now.

tbh the current limit of 10 was plucked from the air.

What would be a better default?

I'll do a PR to make it configurable

[2017-02-20 23:08] edenman commented on #117
@marcomorain awesome! 10 seems like a reasonable default to me.

[2017-02-20 23:15] edenman commented on #117
...but after looking at the commit, i'm totally fine with 100 that you changed it to :)

[2017-02-21 13:06] #117 closed

[2017-02-22 21:20] edenman commented on #112
@fab1an late to the party but fwiw, I just have a `MyApp.setupSentry()` method that gets called during `MyApp.onCreate()` and I just override it in `MyDebugApp.setupSentry()` and don't call super.

[2017-02-22 21:24] edenman opened #119 "Periodically retry uploads?"
If an event fails to upload for whatever reason, Sentry-Android currently doesn't retry the upload until the next app launch (unless I'm misreading the code).  It might be nice if it did.  You guys open to a PR doing this?  Or should I just do this in my app layer by periodically calling `Sentry.sendAllCachedCapturedEvents()`?

[2017-02-28 14:00] akramShokri opened #120 "Setting release in my app"
Hi
I need to `setRelease` in my code because for me release name is not neccessarily app version name. Currently the value which I set in `setRelease` method is overrided with sentry library. Would you please make this override optional or somehow managable in your future release?

Thanks.

[2017-02-28 14:06] marcomorain commented on #120
Hi @akramShokri thanks for logging this - it's a bug.

To work around this you can use a listener when you initialise Sentry:

[code]

I'll work on a fix also.

[2017-02-28 14:29] #120 closed

[2017-02-28 14:44] joshdholtz commented on #112
@fab1an I think there may be a word missing your question 😇 What are you looking to do exactly?

[2017-02-28 14:49] joshdholtz commented on #119
@edenman I did not build this in initially because I wanted to keep this library as minimal as possible. I did not have a need for this and I also didn't want to risk having something running periodically like this in other people's apps :blush: I would prefer to keep this out of our feature set as it could introduce more bugs/maintenance and probably wouldn't be setup to how everyone would like t

[2017-02-28 14:49] joshdholtz commented on #22
Closing this due to inactivity

[2017-02-28 14:49] #22 closed

[2017-02-28 14:50] #24 closed

[2017-02-28 14:50] joshdholtz commented on #24
Closing this due to inactivity

[2017-02-28 18:32] edenman commented on #119
I think it makes sense to not include this in the library.  maybe just worth adding some documentation about the default behavior and that you should call `sendAllCachedCapturedEvents` periodically if you have a long-running app?

[2017-02-28 18:36] joshdholtz commented on #119
@edenman I like that approach :ok_hand: I will add that to the documentation

[2017-02-28 21:46] #119 closed

[2017-02-28 21:56] edenman commented on #119
For posterity/google-ability, here's what I have in a ActivityLifecycleCallbacks class:
[code]

[2017-03-07 03:25] laurenceputra opened #123 "Setting of environment"
Currently I'm not able to set the environment of the app without making modifications to the library. Possible to expose a function to do that?

[2017-03-08 11:31] marcomorain commented on #123
Hi @laurenceputra that sounds like a good addition to the library. We'd happily accept a PR if you have the time.

I would do it by putting a public method on the SentryEventBuilder class `setEnvironment(String env)`.

[2017-04-07 00:05] edenman opened #127 "Is this library no longer the recommended way to upload Sentry events?"
I just noticed that my Android events in Sentry (uploaded from `sentry-android:1.6.0`) have a "This event was reported with an old version of the java SDK." warning that points here: https://docs.sentry.io/clients/java/?_ga=1.162696184.514520677.1487898468 which recommends using https://github.com/getsentry/raven-java

[2017-04-07 03:32] joshdholtz commented on #127
@edenman Sentry does now have proper support for Android with their `raven-java` SDK. I was just informed of this today and will be properly documenting the README as well as writing a migration blog post. I will keep this issue open for other to see 👀

Much love to all of the people that have used and supported this library over the years ❤️

[2017-04-27 20:11] MihaelIsaev commented on #123
Could someone please build a new version and upload it to jCenter?
I want to use environment feature https://github.com/joshdholtz/Sentry-Android/pull/124/commits/7a5ebc44a5a0b329e37ecd9005a83e11f350f3f5

[2017-05-08 14:01] akramShokri commented on #120
Thanks for the comment and for the fix.
I didn't get your comment on email (don't know why :\ ) until today that I checked this issue.
Thank you

[2017-05-24 21:11] seljabali commented on #123
@joshdholtz?

[2017-05-25 12:23] joshdholtz commented on #123
@MihaelIsaev @seljabali Popped out a new build for you (v1.6.1). Sorry about taking so long!

[2017-05-25 12:34] #123 closed

[2017-06-01 16:15] seljabali commented on #123
Thank you @joshdholtz

[2017-06-01 16:17] joshdholtz commented on #123
Not a problem ❤️

[2017-06-14 00:21] edenman commented on #127
https://blog.sentry.io/2017/06/12/new-java-sdk is the aforementioned blog post, although it looks like they switched to `sentry-java` and `sentry-android` which is a little confusing given the name of this repo.  Probably worth throwing a big "DEPRECATED" banner at the top of this project's README, but then I think you can probably close this out.

[2017-06-14 12:39] #127 closed

[2017-09-14 08:03] akramShokri opened #130 "E/Sentry: Error loading from storage java.lang.ClassNotFoundException: com.a.a.p"
Hi
I receive this error log eachtime I initialize sentry:

`09-14 12:28:26.827 8412-8412/come.example.myapp E/Sentry: Error loading from storage
                                                           java.lang.ClassNotFoundException: com.a.a.p
                                                               at java.lang.Class.classForName(Native Method)

[2017-11-08 13:21] joshdholtz commented on #130
@akramShokri This library is no longer being supported :blush: Please use the offical sentry library instead - https://github.com/getsentry/sentry-java

[2017-12-30 07:10] #112 closed